{
    "presets": [
        "module:metro-react-native-babel-preset",
        "babel/preset-react",
        [
            "babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                },
                "debug": true,
                "modules": "commonjs"
            }
        ]
    ],
    "plugins": [
        "react-native-reanimated/plugin"
    ]
}